DB_TYPE=mysql
DB_PORT=3306
DB_HOST=192.168.1.86
DB_PASSWORD=
DB_NAME=limesurvey
DB_USERNAME=limesurvey
ADMIN_USER=admin
ADMIN_NAME=Admin
ADMIN_PASSWORD=
ADMIN_EMAIL=no-reply@example.com
PUBLIC_URL=example.com
LISTEN_PORT=80
